.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid rgb(243, 243, 243);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.Restaurant-name {
  font-size: 24px;
  font-weight: 800;
}

.cart-icon {
  font-size: 30px;
}
